<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>SpreadJS, 기업조직도_예시</title>
  <meta name="spreadjs culture" content="ko-kr" />
  <link rel='stylesheet'
    href='https://cdn.mescius.com/spreadjs/hosted/css/gc.spread.sheets.excel2016colorful.18.1.4.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <header>
    <h1>사내 인트라넷</h1>
    <p>인트라넷 예시 포탈입니다.</p>
  </header>

  <div class="content">
    <div class="section">
      <h2>📢 공지 사항</h2>
      <p>[공지] 추석 연휴 휴무 안내</p>
      <p>[공지] 시스템 점검 안내</p>
      <p>[공지] 2025년 우수사원 포상 안내</p>
      <p>[공지] 연말 근무시간 단축 안내</p>
    </div>

    <h2>🏢 조직도</h2>
    <div class="org-chart" id="ss"></div>

    <div class="section">
      <h2>📅 주요 일정 안내</h2>
      <p>[사내 일정] 2025년 하반기 팀워크숍 안내</p>
      <p>[사내 일정] 전사 타운홀 미팅</p>
      <p>[사내 일정] 신입사원 온보딩 교육</p>
      <p>[사내 일정] 제품 테스트 & 피드백 세션</p>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 MESCIUS Corp. All rights reserved.</p>
  </footer>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/gc.spread.sheets.all.18.1.4.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.shapes.18.1.4.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/resources/ko/gc.spread.sheets.resources.ko.18.1.4.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.io.18.1.4.min.js'></script>
  <script src="./script.js"></script>

</body>

</html>