<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - SpreadJS, 공급 체인 대시보드 샘플_sjs</title>
  
    <meta name="spreadjs culture" content="ko-kr" /><link rel='stylesheet' href='https://cdn.mescius.com/spreadjs/hosted/css/gc.spread.sheets.excel2016colorful.17.0.7.css'>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="ss" style="width:100%;height:500px"></div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-latest.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/gc.spread.sheets.all.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.shapes.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.charts.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.slicers.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.print.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.barcode.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.pdf.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.pivot.pivottables.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.tablesheet.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.ganttsheet.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.formulapanel.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.report.reportsheet.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.io.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/interop/gc.spread.excelio.17.0.7.min.js'></script>
<script src='https://cdn.mescius.com/spreadjs/hosted/scripts/resources/ko/gc.spread.sheets.resources.ko.17.0.7.min.js'></script>
<script src='https://cdn.mescius.co.kr/installers/license/codepen_v17.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js'></script><script  src="./script.js"></script>

</body>
</html>
