<!DOCTYPE html>
<html lang="ko-kr" >
<head>
  <meta charset="UTF-8">
  <title>SpreadJS, 재고 관리 대시보드</title>
  <meta name="spreadjs culture" content="ko-kr" />
  <link rel='stylesheet' href='https://cdn.mescius.com/spreadjs/hosted/css/gc.spread.sheets.excel2016colorful.18.0.3.css'>
</head>
<body>
<div id="ss" style="width:840px;height:1170px"></div>
  <script src='https://code.jquery.com/jquery-latest.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/gc.spread.sheets.all.18.0.3.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.shapes.18.0.3.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.charts.18.0.3.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.io.18.0.3.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/resources/ko/gc.spread.sheets.resources.ko.18.0.3.min.js'></script>
  <script  src="./script.js"></script>
</body>
</html>
