<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8">
  <meta name="spreadjs culture" content="ko-kr" />
  <title>KPI 대시보드 샘플</title>
  <link href='https://cdn.mescius.com/spreadjs/hosted/css/gc.spread.sheets.excel2016colorful.17.0.10.css' rel="stylesheet" type="text/css" />

</head>
<body>
  <div id="ss" style="width:1050px;height:820px"></div>
  
  <script src='https://code.jquery.com/jquery-latest.js'></script>
  
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/gc.spread.sheets.all.17.0.10.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.shapes.17.0.10.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.charts.17.0.10.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.io.17.0.10.min.js'></script>
  <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/resources/ko/gc.spread.sheets.resources.ko.17.0.10.min.js'></script>

  <script  src="./script.js"></script>
</body>
</html>
