<!DOCTYPE html>
<html lang="ko-kr">

  <head>
    <meta charset="UTF-8">
    <title>SpreadJS, 기업 예산 관리 대시보드</title>
    
    <meta name="spreadjs culture" content="ko-kr" />
    <link rel='stylesheet' href='https://cdn.mescius.com/spreadjs/hosted/css/gc.spread.sheets.excel2016colorful.19.1.2.css'>
    <link rel="stylesheet" href="./style.css">

  </head>
    
  <body>
    <div class="sheet-menu">
      <div class="sheet-menu-left">
        <button class="sheet-button active" data-sheet-index="0">대시보드</button>
        <button class="sheet-button" data-sheet-index="1">예산 계획</button>
        <button class="sheet-button" data-sheet-index="2">지출 내역</button>
      </div>
      
      <button id="addRowButton" class="add-row-button" type="button">
        ＋ 행 추가
      </button>
    </div>
    <div id="ss"></div>
    <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/gc.spread.sheets.all.19.1.2.min.js'></script>
    <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.shapes.19.1.2.min.js'></script>
    <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.charts.19.1.2.min.js'></script>
    <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/plugins/gc.spread.sheets.io.19.1.2.min.js'></script>
    <script src='https://cdn.mescius.com/spreadjs/hosted/scripts/resources/ko/gc.spread.sheets.resources.ko.19.1.2.min.js'></script>
    <script  src="./script.js"></script>

  </body>
  
</html>
