html,
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}

#designerHost {
    height: 100%;
}
.designer {
    height: calc(100% - 15px);
}

.cmdSaveData {
    background-image: url('save-icon.jpg');
}